<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>556786122311-rmm14n6gbncdqfltu93c7tcsbnlhtsde.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.556786122311-rmm14n6gbncdqfltu93c7tcsbnlhtsde</string>
	<key>API_KEY</key>
	<string>AIzaSyC_wBzw9qqhB_8Kn2yKuwsAwpI6et0JJoY</string>
	<key>GCM_SENDER_ID</key>
	<string>556786122311</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.anonymous.gardenloftapp</string>
	<key>PROJECT_ID</key>
	<string>garden-loft-app-6df76</string>
	<key>STORAGE_BUCKET</key>
	<string>garden-loft-app-6df76.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:556786122311:ios:b148d71a83895bf0157b62</string>
</dict>
</plist>